
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.main {
    width: 100%;
    height: 100vh;
    background-image: url('hotel-dark-anime-aesthetic-desktop-fv4tvkpirc5e620s.jpg');
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ttl {
    font-size: 40px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 500px;
    cursor: pointer;
    text-transform: capitalize;

}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    color: white;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: rgb(233, 212, 30);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
}

.navbar ul li:hover:after {
    width: 100%;
}

.content {
    top: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
    position: absolute;
    transform: translateY(-55%);
    text-transform: capitalize;
    line-height: 2;
}

img {
    width: 40px;
}